/* FIXME: move the themes/ */

#toolbox-tabs {
  margin: 0;
}

.toolbox-dock-button {
  background-size: 16px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  border: 0;
}

.toolbox-dock-button:active {
  transform: translateY(1px);
}

#toolbox-dock-bottom {
  background-image: url("chrome://browser/skin/devtools/dock-bottom.png");
}

#toolbox-dock-side {
  background-image: url("chrome://browser/skin/devtools/dock-side.png");
}

#toolbox-dock-window {
  background-image: url("chrome://browser/skin/devtools/dock-window.png");
}
