/* FIXME: move the themes/ */

#toolbox-deck {
  background-color: lightblue;
}

#toolbox-tabs {
  margin: 0;
}

.toolbox-dock-button {
  background-size: 16px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  border-radius: @toolbarbuttonCornerRadius@;
  border: 0;
}

.toolbox-dock-button[checked] {
  background-color: black;
}

.toolbox-dock-button:hover {
  background-color: black;
}

.toolbox-dock-button:active {
  background-color: black;
  transform: translateY(1px);
}

.toolbox-dock-bottom {
  background-image: url("chrome://browser/skin/devtools/dock-bottom.svg");
}

.toolbox-dock-right {
  background-image: url("chrome://browser/skin/devtools/dock-right.svg");
}

.toolbox-dock-window {
  background-image: url("chrome://browser/skin/devtools/dock-window.svg");
}
